{% set php = salt['grains.filter_by']({
    'Debian': {
        'php-pkg': 'php5',
        'apc-pkg': 'php-apc',
        'curl-pkg': 'php-curl',
        'fpm-pkg': 'php5-fpm',
        'gd-pkg': 'php5-gd',
        'mcrypt-pkg': 'php5-mcrypt',
        'mysql-pkg': 'php5-mysql',
        'pear-pkg': ' php-pear',
        'fpm-service': 'php5-fpm',
    },
    'RedHat': {
        'php-pkg': 'php5',
        'apc-pkg': 'php-apc',
        'curl-pkg': 'php-curl',
        'fpm-pkg': 'php5-fpm',
        'gd-pkg': 'php5-gd',
        'mcrypt-pkg': 'php5-mcrypt',
        'mysql-pkg': 'php5-mysql',
        'pear-pkg': ' php-pear',
        'fpm-service': 'php5-fpm',
    },
}, merge=salt['pillar.get']('php:lookup')) $}
